a {
    text-decoration: none;
}
body {
    background-color: #ffffff;
}

p {
    font-family: Merriweather, serif;
}

h1, h2 {
    font-family: 'Orbitron';
}
h3 {
    font-family: 'Merriweather';
    margin-top: 16px;
}
.carousel {
    background-color: #a8d0e6;
    border: 1px solid;
    border-color: #24305e;
    margin: auto;
    margin-bottom: 48px;
    width: 80%;
}

.menubar {
    background-color: cyan;
}
.slick-dots {
    left: -28px;
}
.slick-prev:before,
.slick-next:before {
  color: black!important;
}