a {
    text-decoration: none;
}

p {
    font-family: Merriweather, serif;
}

h1 {
    font-family: 'Orbitron';
}
.carousel {
    border: 1px solid;
    border-color: #24305e;
    margin: 16px;
}

.menubar {
    background-color: cyan;
}