html,
body {
  width: 100%;
  font-family: "Merriweather", serif;
  background-color: #26041d;
}

p {
  color: white;
}

h3 {
  text-decoration: underline;
}

#header h1 {
  font-family: "Orbitron";
}

#header {
  background-color: #33032f;
  right: 10%;
  font-size: 80px;
}



.navbar {
  background-color: #33032f;
  font-family: "Merriweather", serif;
}

/* The nav bar slider  */

.wrapper {
  text-align: center;
  margin: 0.5% auto;
  width: 100%;
}

.tabs {
  margin-top: 1%;
  font-size: 15px;
  padding: 0%;
  list-style: none;
  background-color: hsl(0, 0%, 96%);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.651);
  display: inline-block;
  border-radius: 50px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tabs a {
  text-decoration: none;
  color: rgb(43, 42, 42);
  text-transform: uppercase;
  padding: 1% 2%;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
  width: 20%;
  height: 50%;
}

.tabs a.active {
  color: rgb(43, 42, 42);
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #f76c6c;
  background: -moz-linear-gradient(45deg, #f8e9a1 0%, #f76c6c 100%);
  background: -webkit-linear-gradient(45deg, #f8e9a1 0%, #f76c6c 100%);
  background: linear-gradient(45deg, #f8e9a1 0%, #f76c6c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8E9A1', endColorstr='#F76C6C',GradientType=1 );
  overflow: visible;
}

.carousel {
  background-color: hsl(0, 0%, 96%);
  border: 1px solid;
  border-color: black;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 4%;
  width: 80%;
  height: 50%;
  padding: 5%;
}
.slick-dots {
  left: 0px;
}
.slick-dots li button:before {
  color: #d2fdff!important;
  margin-top: 400%;
}
.slick-prev:before,
.slick-next:before {
color:#33032f!important;

}
.carousel .wrapper{
  text-align:center;
  margin:16px auto;
  background-color: #d2fdff;
  border: 1px solid;
  border-color: #24305e;
  margin: auto;
  margin-bottom: 48px;
  width: 80%;
  
}
.carousel a {
  font-weight: bold;
  color: #f76c6c;
  text-decoration-line: underline;
}
.carousel h3 {
  padding: 16px;
  text-decoration-line: none;
}

.slick-dots li button:before {
  color: #d2fdff!important;
}

.carousel p {
  color:  #33032f !important;
}
#carouselHeader {

  margin-bottom:3%;
  color:  #33032f
}

/* the start of the hamburger menu */

#navcheck {
  position: fixed;
  opacity: 0;
}

#navcheck label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

#navcheck label::before {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 67, 100, 0.6);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger {
  position: fixed;
  margin-top: 1%;
  left: 1em;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar,
label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background-color: white;
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar {
  top: 44%;
}

label .burger::before {
  top: 0;
  transform-origin: top left;
}

label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger {
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background-color: #c1c8e4;
  color: #33032f !important;
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}

[id="navcheck"]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}

[id="navcheck"]:checked + label .burger::before,
[id="navcheck"]:checked + label .burger::after {
  width: 141.42%;
}

[id="navcheck"]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}

[id="navcheck"]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}

[id="navcheck"]:checked + label .burger .bar {
  transform: scale(0.1);
}

[id="navcheck"]:checked ~ nav {
  transform: translateX(0);
}

[id="navcheck"]:checked ~ nav::before {
  transform: skewX(15deg) translateX(0);
}

[id="navcheck"]:checked ~ nav a {
  transform: translateX(0);
}

[id="navcheck"]:checked ~ main .content {
  transform: translateX(3em);
  transform-origin: left center;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.filter {
  padding-left: 125%;
}

#menu {
  padding-left: 10%;
}

#menu h2 {
  margin-left: 25%;
}

#filterButton {
  background-color: #f76c6c;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.349);
  border: none;
  padding: 5%;
  margin: 2%;
  border-radius: 45px;
  color: white;
  font-family: "Merriweather", serif;
  font-size: 15px;
}

#addButton {
  background-color: rgb(253, 245, 206);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.719);
  border: none;
  padding: 1%;
  margin: 2%;
  width: 10%;
  border-radius: 45px;
  font-family: "Merriweather", serif;
  font-size: 15px;
}

#contribute {
  margin-left: 70%;
}

#contribute a {
  color: #f76c6c;
}
#menu span {
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 20px;
}
#adviceChecks {
  display: inline-block;
  padding: 2%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.486);
}
#adviceR {
  display: inline-block;
  padding: 2%;
}

#adviceBox {
  border-bottom: 1px solid white;
  margin-top: 5%;
  margin-bottom: 2%;
  padding-bottom: 5%;
}

#LnRForm {
  background-color: #531253;
  width: 60%;
  margin-left: 20%;
}
#LnRButtons:hover {
  background-color: #97d8b2;
  color: #33032f !important;
}

#button {
  background-color: #97d8b2;
  color: #33032f;
  font-family: "Merriweather", serif;
}

#button1 {
  background-color: #97d8b2;
  color: #33032f;
  font-family: "Merriweather", serif;
  margin-left: 90%;
}

#footer {
  padding: 2%;
}

/* size content boxes  */
#cleanUp {
  width: 80%;
  margin-left: 10%;
  background-color: #33032f;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

#welcome {
  width: 80%;
  margin-left: 10%;
  background-color: #33032f;
  padding: 5%;
}

#articleHolder {
  width: 100%;
  background-color: #33032f;
  padding-top: .5%;
  padding-left: 8%;
}

#articleCard {
  display: inline-block;
  vertical-align: middle;
  width:27%;
  margin: 2%;
  padding: 3%;
  background-color: hsl(0, 0%, 96%);
  /* border-radius: 35px; */
  border: 1px solid black;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.719);

}

embed {

  margin-left: 25%;
}